<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Comment Analyzer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="C:\Users\Владимир\Desktop\YouTubeCommentsAnnalyzer\static\style.css">
</head>
<body>
    <div class="container">
        <h1>YouTube Comment Analyzer</h1>
        <form method="post">
            <div class="form-group">
                <label for="video_id">Вставте посилання на відео:</label>
                <input type="text" class="form-control" id="video_id" name="video_id" required>
            </div>
            <button type="submit" class="btn btn-primary">Проаналізувати</button>
        </form>
    </div>
</body>
</html>